{% extends "auctions/layout.html" %}

{% block body %}

    Voce pesquisou por {{title}}
    eu sou o cara
    {% for listing in listings %}
        <h2>{{ title }}</h2>
        <img style="height: 450px;" src="{{ listing.image }}">
        <div>
            <h4><a style="color: green;">Starting bid:</a> {{ listing.starting_bid }} USD | 
                <a style="color: crimson;">Heighest bid: </a>{{ listing.highest_bid }} USD</h4>
            <h5>Price: {{ listing.price }} USD</h5>
            <p>{{ listing.description }}</p>
        </div>
        
    {% endfor %}
{% endblock %}