{% extends "auctions/layout.html" %}

{% block body %}

    {% for listing in listings %}
    <div style="background-color: lightgray; padding: 15px 20px;">
        <h2>{{ title }}</h2><br>
        <center><img style="height: 450px;" src="{{ listing.image }}"></center>
        <div><br>
            <h4><a style="color: green;">Heighest bid: </a>{{ listing.heighest_bid }} USD</h4>
            <h5>Initial price: {{ listing.price }} USD</h5>
            <p>{{ listing.description }}</p>
        </div><br>
        {% if user.is_authenticated %}
        <h5>Place a bid:</h5>
        <form action="{% url 'bid' title %}" method="post">
            {% csrf_token %}
           <div class="row">
                <div class="col-md-4">
                    <input class="form-control" name="bid">
                </div>
                <div class="col-md-2">
                    <button type="submit" class="btn btn-primary">Bid</button>
                </div>
            </div> 
        </form>
        {% endif %}
    </div>    
    {% endfor %}
    <br><br>

    {% if comment %}
    <div style="background-color: lightgray; padding: 15px 20px;">
        <h4>Comments:</h4><br>
        {% for comments in comment %}
        <div style="padding: 5px; background-color:white;">
            <p><b>{{ comments.username }}</b></p>
            <p>{{ comments.comment }}</p>
            <p>{{ comments.time }}</p>
        </div><br>
        {% endfor %}
    {% endif %}

        {% if user.is_authenticated %}
        <div style="background-color: lightgray; padding: 15px 20px;">
            <form action="{{title}}" method="post">
                {% csrf_token %}
                <h4>Leave a comment:</h4>
                <div class="form-group">
                    <textarea name="comment" class="form-control" id="exampleFormControlTextarea1" rows="3" maxlength="100"></textarea>
                </div>
                <button type="submit" class="btn btn-primary">Comment</button>
            </form>
        </div>
        {% endif %}
        
    </div>

{% endblock %}