{% extends "auctions/layout.html" %}

{% block body %}
    {% if user.is_authenticated %}
    <h2>Create Listings</h2><hr><br>
    <form action="{% url 'create' %}" method="post" style="background-color: lightgray; padding: 20px;">
        {% csrf_token %}
        <div class="form-row">
            <div class="form-group col-md-6">
            <label>Title</label>
                <input name="title" class="form-control">
            </div>
            <div class="form-group col-md-4">
                <label>Category</label>
                <select name="category" class="form-control">
                  <option selected>Choose...</option>
                  <option>Car's items</option>
                  <option>Collectibles</option>
                  <option>Clothing</option>
                  <option>Electronics</option>
                  <option>Jewlery</option>
                  <option>Toys</option>
                  <option>other</option>
                </select>
            </div>
            <div class="form-group col-md-2">
                <label>Starting Price</label>
                <input name="price" type="text" class="form-control" placeholder="USD">
            </div>
        </div>

        <div class="form-row">  
            <div class="form-group col-md-12">
                <label>Image URL</label> 
                <input name="image" type="text" class="form-control">
            </div>
        </div>

        <div class="form-group">
            <label for="exampleFormControlTextarea1">Description</label>
            <textarea name="description" class="form-control" id="exampleFormControlTextarea1" rows="7 "></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Create Listing</button>
    </form><br>
    {% else %}
        <div >
           <h2 style="color: red;">Oops!</h2><hr>
        </div>
        <center>
        <div class="card" style="width: 50rem; align-items: center;">
            <img src="https://miro.medium.com/max/978/1*pUEZd8z__1p-7ICIO1NZFA.png" class="card-img-top" alt="error">
            <div class="card-body">
              <h4 class="card-text">It seems that you are not logged in</h4>
              <h6>Please <a href="{% url 'register' %}">create a account</a> or <a href="{% url 'login' %}">log in</a> to create a listing</h6>
            </div>
        </div>
        </center>
    {% endif %}
{% endblock %}