{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Watchlist</h2><hr><br>
        {% if not watchlist %}
        <h5 class="alert alert-secondary col-md-5">You haven't added any items to you watchlist</h5>
        {% endif %}
        <ul>
        {% for listing in watchlist %}
            <li class="media">
                <div class="media-body" style="text-align: left;">
                    <h5 class="mt-0 mb-1"><a href="{% url 'auctions' listing.listing_title %}">{{ listing.listing_title }}</a></h5>
                </div>
            </li><br>
        {% endfor %}            
        </ul>

{% endblock %}